<h1 class="mb-4">Autos disponibles</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
  {{#each autos}}
    <div class="col">
      <div class="card h-100">
        <img src="{{this.imagen}}" class="card-img-top" alt="{{this.nombre}}" style="height: 200px; object-fit: cover;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{this.nombre}}</h5>
          <p class="card-text">{{this.descripcion}}</p>
          <a href="/autos/{{this.id}}" class="btn btn-primary mt-auto">Ver detalles</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
